// Created by ThomasHedegaard on 28/10/14.
extends layout

block content

    - var left = parseInt(page) * parseInt(results)
    - var right = parseInt(left) + parseInt((results))
    - var fromTo = 'Page ' + page + '  [' + left + ' - ' + right + ']'



    div.container-fluid
        div#accordion.panel-group.col-lg-10.col-lg-offset-1
            p(class="pageInfo")=fromTo
            button.btn.btn-default(class='prev') prev #{results}
            button.btn.btn-default(class='next') next #{results}
            input(class='pagePerSite', value=results, placeholder='results per site')
            div.panel.panel-default
                div.panel-heading
                    h4.panel-title
                        a(data-toggle='collapse', data-parent='#accordion')
                            table.table.fourRow
                                thead
                                    tr
                                        td ID
                                        td Date
                                        td Name
                                        td Address

            - var from = 0
            - var to = from + 50
            - for(var i = 0; i < data.length; i++){

                div.panel.panel-default
                    div.panel-heading
                        h4.panel-title
                            a(data-toggle='collapse', data-parent='#accordion', href='#collapse' + i)
                                table.table.fourRow
                                    thead
                                        tr
                                            td #{data[i].order._id}
                                            td #{data[i].order.shippedDate}
                                            td #{data[i].order.shipName}
                                            td #{data[i].order.shipAddress}


                    div.panel-collapse.collapse(id='collapse' + i)
                            div.panel-body
                                table.table.table-striped
                                    thead
                                        tr
                                            td
                                                ul
                                                    li Id: #{data[i].order._id}
                                                    li Date: #{data[i].order.shippedDate}
                                                    li Required: #{data[i].order.requiredDate}
                                                    li Shipped: #{data[i].order.shippedDate}

                                            td
                                                ul
                                                    li Name: #{data[i].order.shipName}
                                                    li Address: #{data[i].order.shipAddress}
                                                    li City: #{data[i].order.shipCity}
                                                    li Zip: #{data[i].order.shipPostalCode}
                                                    li Country: #{data[i].order.shipCountry}
                                            td
                                                a(href='../customer/' + data[i].order.customer)
                                                    button.btn.btn-default(type="button", trigger="hover", data-toggle="popover", data-placement="top", title="Navigate to customer")
                                                        span.glyphicon.glyphicon-user
                                                a(href='../employee/' + data[i].order.employee)
                                                    button.btn.btn-default(type="button", data-toggle="tooltip", data-placement="top", title="Navigate to Employee")
                                                        span.glyphicon.glyphicon-user
                                                a(href='../employee/' + data[i].order.employee)
                                                    button.btn.btn-default(type="button", data-toggle="tooltip", data-placement="top", title="Edit order")
                                                        span.glyphicon.glyphicon-pencil
                                                button.btn.btn-default(type="button", data-toggle="tooltip", data-placement="top", title="Delete order", class= "deleteOrder", id=data[i]._id)
                                                    span.glyphicon.glyphicon-remove

                                table.table.table-striped
                                    tr
                                        th Product
                                        th UnitPrice
                                        th Quantity
                                        th Discount
                                        th Price
                                    tr
                                        td #{data[i].product.name}
                                            td #{data[i].product.unitPrice}
                                            td #{data[i].quantity}
                                            td #{data[i].discount}
                                            - var unitPrice = data[i].product.unitPrice
                                            - var quantity = data[i].quantity
                                            - var discount = data[i].discount
                                            - var price = (unitPrice * quantity - (unitPrice))
                                            - var fullPrice = price - (price * discount)
                                            td= fullPrice
                                    tr
                                        td Total
                                        td NOT
                                        td IMPLEMENTED
                                        td YET
                                        td sum
            - }


            p(class="pageInfo")=fromTo
            button.btn.btn-default(class='prev') prev #{results}
            button.btn.btn-default(class='next') next #{results}
            input(class='pagePerSite', value=results, placeholder='results per site')


            script(type='text/javascript').
                $(".deleteOrder").on("click", function(){
                    alert("Our id: " + $(this).attr("id"));
                    $.ajax({
                        url: '/orders/' + $(this).attr("id"),
                        type: 'DELETE',
                        success: function(response) {

                            //var url = $(this).response("url");
                            //window.location.replace(response);
                            document.write(response);
                            document.close();
                        }});
                });
                var numberOfResults = parseInt(($(".pagePerSite").val()));
                var currentPage = parseInt($(".pageInfo").text().split('[')[0].split(' ')[1]);
                //alert(currentPage);

                if(isNaN(currentPage)){     //SHOW ALL
                        currentPage = -1;
                        $(".prev").prop("disabled", true);
                        $(".pageInfo").text('Shows all orderdetails. Type number of results, and press the next-button');
                }else{
                    $(".prev").prop("disabled", false);
                    $(".next").prop("disabled", false);
                    if(currentPage == 0){   // DETAIL VIEW PAGE 1
                        $(".prev").prop("disabled", true);
                    } else{                 // DETAIL VIEW PAGE > 1
                        $(".prev").prop("disabled", false);
                    }
                }

                $(".prev").on("click", function() {
                    numberOfResults = parseInt(($(".pagePerSite").val()));
                    window.location.href = '../../' + 'orders/' + (currentPage-1) + '/' + numberOfResults;
                });

                $(".next").on("click", function() {
                    var value = $.trim($(".pagePerSite").val());
                    if (value.length > 0) {
                        numberOfResults = parseInt(($(".pagePerSite").val()));
                        window.location.href = '../../' + 'orders/' + (currentPage+1) + '/' + numberOfResults;
                    } else{
                        alert('Remember to specify pages per site!');
                    }


                });


















