// Created by ThomasHedegaard on 28/10/14.
extends layout

block content

    div.container-fluid
        div#accordion.panel-group.col-lg-10.col-lg-offset-1
            div.panel.panel-default
                div.panel-heading
                    h4.panel-title
                        a(data-toggle='collapse', data-parent='#accordion')
                            table.table.fourRow
                                thead
                                    tr
                                        td ID
                                        td Date
                                        td Name
                                        td Address
                                        s
            - var from = 50
            - var to = from + 50
            - for(var i = from; i < to; i++){

                div.panel.panel-default
                    div.panel-heading
                        h4.panel-title
                            a(data-toggle='collapse', data-parent='#accordion', href='#collapse' + i)
                                table.table.fourRow
                                    thead
                                        tr
                                            td #{data[i].order._id}
                                            td #{data[i].order.shippedDate}
                                            td #{data[i].order.shipName}
                                            td #{data[i].order.shipAddress}


                    div.panel-collapse.collapse(id='collapse' + i)
                            div.panel-body
                                table.table.table-striped
                                    thead
                                        tr
                                            td
                                                ul
                                                    li Id: #{data[i].order._id}
                                                    li Date: #{data[i].order.shippedDate}
                                                    li Required: #{data[i].order.requiredDate}
                                                    li Shipped: #{data[i].order.shippedDate}

                                            td
                                                ul
                                                    li Name: #{data[i].order.shipName}
                                                    li Address: #{data[i].order.shipAddress}
                                                    li City: #{data[i].order.shipCity}
                                                    li Zip: #{data[i].order.shipPostalCode}
                                                    li Country: #{data[i].order.shipCountry}
                                            td

                                                a(href='http://127.0.0.1:3000/customer/' + data[i].order.customer)
                                                    button.btn.btn-default(type="button", trigger="hover", data-toggle="popover", data-placement="top", title="Navigate to customer")
                                                        span.glyphicon.glyphicon-user
                                                a(href='http://127.0.0.1:3000/employee/' + data[i].order.employee)
                                                    button.btn.btn-default(type="button", data-toggle="tooltip", data-placement="top", title="Navigate to Employee")
                                                        span.glyphicon.glyphicon-user
                                                a(href='http://127.0.0.1:3000/employee/' + data[i].order.employee)
                                                    button.btn.btn-default(type="button", data-toggle="tooltip", data-placement="top", title="Edit order")
                                                        span.glyphicon.glyphicon-pencil
                                                button.btn.btn-default(type="button", data-toggle="tooltip", data-placement="top", title="Delete order", class= "deleteOrder", id=data[i]._id)
                                                    span.glyphicon.glyphicon-remove

                                table.table.table-striped
                                    tr
                                        th Product
                                        th UnitPrice
                                        th Quantity
                                        th Discount
                                        th Price
                                    tr
                                        td #{data[i].product.name}
                                            td #{data[i].product.unitPrice}
                                            td #{data[i].quantity}
                                            td #{data[i].discount}
                                            - var unitPrice = data[i].product.unitPrice
                                            - var quantity = data[i].quantity
                                            - var discount = data[i].discount
                                            - var price = (unitPrice * quantity - (unitPrice))
                                            - var fullPrice = price - (price * discount)
                                            td= fullPrice
                                    tr
                                        td Total
                                        td NOT
                                        td IMPLEMENTED
                                        td YET
                                        td sum
            - }


            script(type='text/javascript').
                $(".deleteOrder").on("click", function(){
                    alert("Our id: " + $(this).attr("id"));
                    $.ajax({
                        url: '/orders/' + $(this).attr("id"),
                        type: 'DELETE',
                        success: function(response) {

                            //var url = $(this).response("url");
                            //window.location.replace(response);
                            document.write(response);
                            document.close();
                        }});
                });












