// Created by ThomasHedegaard on 28/10/14.
extends layout

block content

    nav.navbar.navbar-inverse(role='navigation')
        div.container-fluid
            // Brand and toggle get grouped for better mobile display
            div.navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='#') Brand

            div#bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown')
                            | Dropdown
                            span.caret
                        ul.dropdown-menu(role='menu')
                            li
                                a(href='#') Action #1
                            li
                                a(href='#') Action #2
                            li
                                a(href='#') Action #3
                            li.divider
                            li
                                a(href='#') Link to another page


    div.container-fluid
        div#accordion.panel-group.col-lg-10.col-lg-offset-1
            div.panel.panel-default
                div.panel-heading
                    h4.panel-title
                        a(data-toggle='collapse', data-parent='#accordion')
                            table.table.fourRow
                                thead
                                    tr
                                        td ID
                                        td Date
                                        td Name
                                        td Address
                                        td(width='12%') Edit
            - for(var i = 0; i < data.length; i++){

                div.panel.panel-default
                    div.panel-heading
                        h4.panel-title
                            a(data-toggle='collapse', data-parent='#accordion', href='#collapse' + i)
                                table.table.fourRow
                                    thead
                                        tr
                                            td #{data[i].order._id}
                                            td #{data[i].order.shippedDate}
                                            td #{data[i].order.shipName}
                                            td #{data[i].order.shipAddress}
                                            td(width='12%')
                                                .btn-group
                                                    button.btn.btn-primary
                                                        span.glyphicon.glyphicon-pencil
                                                    button.btn.btn-danger
                                                        span.glyphicon.glyphicon-remove


                div.panel-collapse.collapse(id='collapse' + i)
                        div.panel-body
                            table.table.table-striped
                                thead
                                    tr
                                        td
                                            ul
                                                li Id: #{data[i].order._id}
                                                li Date: #{data[i].order.shippedDate}
                                                li Required: #{data[i].order.requiredDate}
                                                li Shipped: #{data[i].order.shippedDate}
                                        td
                                            ul
                                                li Name: #{data[i].order.shipName}
                                                li Address: #{data[i].order.shipAddress}
                                                li City: #{data[i].order.shipCity}
                                                li Zip: #{data[i].order.shipPostalCode}
                                                li Country: #{data[i].order.shipCountry}
                            table.table.table-striped
                                tr
                                    th Product
                                    th UnitPrice
                                    th Quantity
                                    th Discount
                                    th Price
                                tr
                                    td #{data[i].product.name}
                                        td #{data[i].product.unitPrice}
                                        td #{data[i].quantity}
                                        td #{data[i].discount}
                                        - var unitPrice = data[i].product.unitPrice
                                        - var quantity = data[i].quantity
                                        - var discount = data[i].discount
                                        - var price = (unitPrice * quantity - (unitPrice))
                                        - var fullPrice = price - (price * discount)
                                        td= fullPrice
                                tr
                                    td Total
                                    td NOT
                                    td IMPLEMENTED
                                    td YET
                                    td sum
            - }